body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {

    color: tomato
}

section {
    display: flex;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.half-width-second {
    width: 88%;
}

#contact-button {

    margin-left: 20%;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    box-shadow: 10px 10px 30px orange;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(orange #f8405f);
    font-weight: 500;
    margin-bottom: 20%;
}

#second-text {
    font-size: 16px;
    color: black;
    padding-bottom: 50px;
}

.inner-text {
    font-size: 20px;
    color: gray;
    padding-bottom: 5%;
}

#about-me {
    color: rgb(75, 73, 73);
    font-size: 40px;
    text-align: center;
}

.second-part {
    background-image: url(2nd-picture.png);
    background-repeat: no-repeat;
    padding-right: 200px;
    padding-left: 850px;
    padding-top: 100px;
    padding-bottom: 200px;

}

#recepy {
    color: rgb(75, 73, 73);
    padding-left: 50%;
    font-size: 40px;
    ;
}

#recepy-text {
    padding-left: 40%;
    padding-right: 19%;
    font-size: 17px;
    text-align: center;
}

.half-width-box {
    width: 50%;
    box-shadow: 20px 20px 50px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 30px;
}

.half-width-box img {
    width: 80%;
}

.l-heading {
    font-size: 60px;
}

.black-box {
    background-color: black;
    color: white;
    padding-bottom: 10%;
    padding-top: 2%;
    padding-left: 45%;
}

.grey-color {
    color: gray;
}

.l-box {
    padding: 5%;
}

.l-container {
    box-shadow: 10px 10px 30px gray;
    margin: 10%;
    padding-left: 18%;
}

.last-line {
    color: 15px;
    padding-left: 15%;
}