body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {

    color: tomato
}

section {
    display: flex;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.half-width-second {
    width: 88%;
}

#contact-button {

    margin-left: 20%;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    box-shadow: 10px 10px 30px orange;
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(orange #f8405f);
    font-weight: 500;
    margin-bottom: 20%;
}

#second-text {
    font-size: 16px;
    color: black;
    padding-bottom: 50px;
}

.inner-text {
    font-size: 30px;
    color: gray;
}

#about-me {
    color: gray;
    font-size: 40px;
    text-align: center;
}

#contact-button {
    text-align: center;


}

.second-part {
    background-image: url(2nd-picture.png);
    background-repeat: no-repeat;
    padding-right: 200px;
    padding-left: 850px;
    padding-top: 100px;
    padding-bottom: 200px;

}